# Basic Python

## 1. Split this string

In [14]:
s = "Hi there Sam!"

In [15]:
print(s.split())

['Hi', 'there', 'Sam!']

In [ ]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-1.4.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.6 MB)
     ━━╸━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 0.9/11.6 MB 34.2 kB/s eta 0:05:15

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [16]:
planet = "Earth"
diameter = 12742

In [17]:
txt = "The diameter of {0} is {1} kilometers".format(planet,diameter)
txt

'The diameter of Earth is 12742 kilometers'

# 3. In this nest dictionary grab the word "hello"

In [18]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [19]:
print(d['k1'][3]['tricky'][3]['target'][3])

hello

# Numpy

In [20]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [21]:
zero=np.array([0]*10)
zero

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [22]:
five = np.array([5]*10)
five

array([5, 5, 5, 5, 5, 5, 5, 5, 5, 5])

## 5. Create an array of all the even integers from 20 to 35

In [23]:
t = [i for i in range(20,36) if i%2 == 0]
evenint = np.array(t)
evenint

array([20, 22, 24, 26, 28, 30, 32, 34])

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [24]:
t = np.array([[0,1,2],[3,4,5],[6,7,8]])
t

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [25]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
print(np.concatenate([a,b]))

[1 2 3 4 5 6]

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [26]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [ ]:
data  = [[1,"asasa"],[2,"uiuu"],[3,"afokp"]]
df = pd.DataFrame(data,columns = ['id','name'])
df

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [ ]:
import datetime

test_date = datetime.datetime.strptime("01-01-2023", "%d-%m-%Y")

K = 41

date_generated = pd.date_range(test_date, periods=K)
print(date_generated.strftime("%d-%m-%Y"))

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [ ]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [ ]:
df = pd.DataFrame(lists, columns =['id', 'name','age'])
print(df)